@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}   
img{
    width:100%;
}
.container{
    width: 80%;
    max-width:900px;
    margin: 0 auto;
}
.nav{
    background-color:#3b4f53;
    padding:1em;
}
.nav .nav__list{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content:flex-start;
}

.right{
    margin-left: auto;
}
.nav__link a{
    text-decoration: none;
    margin:1em;
    text-transform: uppercase;
    color: antiquewhite;
}

.nav__link a:hover{
    opacity:0.75;
}
#nav__btn{
    background-color: antiquewhite;
    color:#1b3f47;
    padding:0.2em 0.7em;
    border-radius: 20px;
}

.header__content {
    width:60%;
}
.image{
    width:30%;
    align-self: center;
}
.header{
    background-color: #23424A;
    color:white;
    display: flex;
    justify-content: space-between;
    padding:3em;
}
.header__content a{
    display: inline-block;
    text-decoration: none;
    background-color: #38CFD9;
    padding:0.7em 1em;
    border-radius:20px;
    color:#23424A;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2em;
}

.main{
    display: flex;
    justify-content: space-between;
    padding:3em;
}

.content__left{
    width:60%;
}
.content__left h2{
    color:#23424A
}
.content__right{
    width:30%;
    background-color: #1b3f47;
    color:white;
    text-align: center;
}

.content__right .content__child__child{
    padding:1.5em;

}

@media (max-width:600px) {
    .header,.main{
        display: block;
        padding: 2em;
        /* width:80%; */
    }
    .image{
        display: inline-block;
        width:100%;
    }
    .content__child{
        width:100%;  
    }

}